.CompoundControls {
  width: 100%;
  background-color: #e9e9e9;
  display: flex;
  flex-flow: column;
  align-items: center;
  box-shadow: 0 2px 1px #ccc;
  margin: auto;
  padding: 10px 0;
}

.ControlsLeft {
  float: left;
  max-width: 250px;
}

.TableBorder {
  border-collapse: collapse;
}

.TableData {
  border: 1px solid black;
}
